[submodule "Carthage/Checkouts/Nimble"]
	path = Carthage/Checkouts/Nimble
	url = https://github.com/Quick/Nimble.git
[submodule "Carthage/Checkouts/SwiftCSV"]
	path = Carthage/Checkouts/SwiftCSV
	url = https://github.com/naoty/SwiftCSV.git
